@model Wasly.net.ViewModels.LoginModel

@{
    ViewData["Title"] = "Login";
}
@{
    // Retrieve the returnUrl from ViewBag
    string returnUrl = ViewBag.ReturnUrl;
}
@{
    Layout = "_LayoutUnderTesting";
}
<style media="screen">
    /* Your provided styles here */
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #080710;
    }

    .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    .shape:first-child {
        background: linear-gradient(#1845ad, #23a2f6);
        left: -80px;
        top: -80px;
    }

    .shape:last-child {
        background: linear-gradient(to right, #ff512f, #f09819);
        right: -30px;
        bottom: -80px;
    }

    form {
        height: 60%;
        width: 22%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 70%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;
    }

        form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }

    ::placeholder {
        color: #e5e5e5;
    }

    button {
        margin-top: 50px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .social {
        margin-top: 30px;
        display: flex;
    }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255, 255, 255, 0.27);
            color: #eaf0fb;
            text-align: center;
        }

            .social div:hover {
                background-color: rgba(255, 255, 255, 0.47);
            }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }

    :root {
        --dark-color: #EFECE7;
        --gary: #8C7040;
        --section: #EFECE7;
    }

    body {
        font-family: "Roboto",;
        background-color: #1B3252;
    }

    .main-btn {
        color: #EFECE7;
        background-color: #8C7040;
        border-color: #8C7040;
        padding: 0.5rem 1rem;
    }

    .main-title::after {
        content: '';
        width: 120px;
        height: 2px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translatex(-50%);
    }
    /*start navbar*/
    .navbar {
        background-color: #1B3252;
    }

        .navbar .navbar-nav .nav-link {
            color: #EFECE7;
        }

            .navbar .navbar-nav .nav-link.active,
            .navbar .navbar-nav .nav-link:focus,
            .navbar .navbar-nav .nav-link:hover {
                font-size: large;
                color: var(--gary);
            }

    .navbar-toggler {
        color: #8C7040;
        font-size: 2rem;
    }

    /*end navbar*/
    /*start landing*/
    .landing {
        background-color: #1B3252;
        min-height: calc(110vh - 72px);
        background-image: url("/images/unsplash_GvsWwiMKLRY-2.png");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-blend-mode: normal;
        background-size: cover;
    }
    /*end landing*/

    /*start features*/

</style>

<div class="container-fluid landing">
    <div class="row">
        <div class="col-md-6">
            <img style="margin-top:18%;" src="/images/Frame-2.png" alt="Frame Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8 offset-md-2"> <!-- Centered form within this column -->
            
            <!-- Centered form column -->
            <form asp-action="Login" class="form-signin">
                <h1 style="text-align:center;">Login</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="ReturnUrl" value="@ViewData["RedirectUrl"]" />
                <div class="form-group">
                    <label asp-for="username" class="control-label">Username</label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="password" class="control-label">Password</label>
                    <input asp-for="password" class="form-control" type="password" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <button style="text-align:center; width:50%;" type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                
                <br />
                        <div class="form-group">
                            <div class="custom-image">
                                <img style="width:100%" src="/images/Or.png" alt="Custom Image">
                            </div>
                        </div>
                <div style=margin-top: 20px;">
                    <p style="text-align:center;">@Html.ActionLink("Login with Google", "ExternalLogin", "Account", new { provider = "Google", returnUrl }, htmlAttributes: new { @class = "google-login-button" })</p>
                </div>
                <br/>
                <div class="form-group">
                    <p style="text-align:center;">   <a asp-controller="Account" asp-action="Register"> Sign Up</a></p>
                </div>
                <hr />
            
            </form>
                </div>
            </div>
        </div>
        </div>
    
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
